
@{
    ViewBag.Title = "About";
}

<h2>About LWF Stats</h2>

<p>
    <a href="https://www.reddit.com/r/LootWars/">LWF - Loot War Fellowship</a> is alliance of clans in <a href="https://clashofclans.com/">Clash of Clans</a> game who try to sync with each other in clan wars.
</p>

<p>
    <a href="http://lwfstats.azurewebsites.net">LWF Stats</a> uses clan list from <a href="https://docs.google.com/spreadsheets/d/17yCzOpIuiM5wNFi81RJXp_wDBIO9eU1LzuzCPTkfOXk/edit?pref=2&amp;pli=1#gid=1205071996">LWF Clan List & Weights</a> Google Sheet.
    Clan and clanwar details are retrieved with <a href="https://developer.clashofclans.com/">Clash of Clans API</a>
    and stored into local <a href="https://www.sqlite.org/">SQLite</a> database to avoid exceeding API usage limits.
    Database is updated once per hour.
</p>

<p>
    War sync window is calculated from all wars of entire alliance.
    War is considered to started when 10 wars have started within 30 minute time window,
    and ended when less than 10 wars have started within 1 hour.
    If clan has started war outside calculated sync window, it is the same as if not started at all.
</p>

<p>
    <b>Note:</b> API doesn't provide war start times, only war ending time.
    This website doesn't show the exact war ending times.
</p>

<p>
    Following clans are clans that have synced with our alliance, but are not included in our official clanlist.
    Not all following clans are war clans. There is also clans that have left our alliance recently,
    and new clans that are not yet included in official clan list.
</p>

<p>
    This website started as fun project while learning about <a href="https://azure.microsoft.com">Azure Cloud Services</a> and web development with <a href="https://www.visualstudio.com/">Visual Studio 2015</a>.
</p>

<p><b>Contact:</b> <a href="http://band.us/@('@')lootwars">band.us/@@lootwars</a> - WF18 | pete</p>

<hr />

<p>
    <small class="text-muted">
        This website is not affiliated with, endorsed, sponsored, or specifically approved by Supercell.
        Supercell is not responsible for the operation or content of this site.
        Clash of Clans and its logos are trademarks of Supercell. © 2012-2016 <a href="http://supercell.com/">Supercell</a>.
    </small>
</p>