
@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">About</li>
</ol>

<h2>About FWA Stats</h2>

<p>
    <a href="http://www.farmwaralliance.org/">FWA - Farm War Alliance</a> is alliance of clans in <a href="https://clashofclans.com/">Clash of Clans</a> game who try to sync with each other in clan wars.
</p>

<p>
    <a href="http://fwastats.com">💎 FWA Stats</a> uses clan list from <a href="http://tiny.cc/ProudFWA">Proud Clans of FWA</a> Google Sheet.
    Clan and clanwar details are retrieved with <a href="https://developer.clashofclans.com/">Clash of Clans API</a>
    and stored into local <a href="https://www.sqlite.org/">SQLite</a> database.
    Database is updated once every 15 minutes.
</p>

<p>
    <b>Note:</b> API doesn't provide war start times, only war ending time.
    This website doesn't show the exact war ending times.
    Current war details are delayed for 2 hours to prevent this site to be used for sync stalking.
</p>

<p>
    Following clans are clans that have synced with our alliance, but are not included in our official clanlist.
    Not all following clans are war clans. There is also clans that have left our alliance recently,
    and new clans that are not yet included in official clan list.
</p>

<p>
    This website started as fun project while learning about <a href="https://azure.microsoft.com/">Azure Cloud Services</a> and web development with <a href="https://www.visualstudio.com/">Visual Studio 2017</a>.
    Site was later ported to <a href="https://www.microsoft.com/net/core/">.Net Core 2.0</a> and is currently running on <a href="https://www.ubuntu.com/">Ubuntu Linux</a> at <a href="https://aws.amazon.com/ec2/">Amazon Web Services</a>.
    Source code is kept in <a href="https://git-scm.com/">Git</a>-repository on <a href="https://www.visualstudio.com/team-services/">Visual Studio Team Services</a>.
    This site is updated automatically from source code changes with <a href="https://www.visualstudio.com/team-services/continuous-integration/">CI/CD</a>-pipeline. 
</p>

<p>-- <br />War Farmers 18 | pete</p>
