
@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">About</li>
</ol>

<h2>About FWA Stats</h2>

<p>
    <a href="http://www.farmwaralliance.org/">FWA - Farm War Alliance</a> is alliance of clans in <a href="https://clashofclans.com/">Clash of Clans</a> game who try to sync with each other in clan wars.
</p>

<p>
    <a href="http://fwastats.com">💎 FWA Stats</a> uses clan list from <a href="http://tiny.cc/ProudFWA">Proud Clans of FWA</a> Google Sheet.
    Clan and clanwar details are retrieved with <a href="https://developer.clashofclans.com/">Clash of Clans API</a>
    and stored into local <a href="https://www.sqlite.org/">SQLite</a> database to avoid exceeding API usage limits.
    Database is updated once per hour.
</p>

<p>
    War sync window is calculated from all wars of entire alliance.
    War is considered to be started when 10 wars have started within 1 hour time window,
    and ended when less than 10 wars have started within 2 hours.
    If clan has started war outside calculated sync window, it is the same as if not started at all.
</p>

<p>
    <b>Note:</b> API doesn't provide war start times, only war ending time.
    This website doesn't show the exact war ending times.
</p>

<p>
    Following clans are clans that have synced with our alliance, but are not included in our official clanlist.
    Not all following clans are war clans. There is also clans that have left our alliance recently,
    and new clans that are not yet included in official clan list.
</p>

<p>
    <b>Weight estimation:</b> 
    <ul>
        <li>Each townhall level is valued as max weight - 5000</li>
        <li>( TH11 = 105000, TH10 = 85000, TH9 = 65000 and TH8 = 50000 )</li>
        <li>Maximum weight is calculated from top @Constants.WAR_SIZE1 bases</li>
        <li>Minimum weight is calculated from bottom @Constants.WAR_SIZE1 bases</li>
        <li>( max 5 TH8 and no bases below TH8 if max weight is below 3300000 )</li>
        <li>( max 1 TH8 and no bases below TH8 if max weight is over 3300000 )</li>
        <li>Estimated weight = ( maximum weight + minimum weight ) / 2</li>
    </ul>
</p>

<p>
    This website started as fun project while learning about <a href="https://azure.microsoft.com/">Azure Cloud Services</a> and web development with <a href="https://www.visualstudio.com/">Visual Studio 2015</a>.
    Site was later ported to <a href="https://www.microsoft.com/net/core/">.Net Core 2.0</a> and is currently running on <a href="https://www.ubuntu.com/">Ubuntu Linux</a> at <a href="https://aws.amazon.com/ec2/">Amazon Web Services</a>.
</p>

<p>-- <br />War Farmers 18 | pete</p>
