
@{
    ViewBag.Title = "Tracker";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">Tracker</li>
</ol>

<h3>Create Clash of Clans donation tracker in Google Sheets</h3>

<p>Open <a href="https://docs.google.com/spreadsheets/d/1bwCvrcZYevyL0TwvTy5FiA58ce1vpU_bqqMtpGOfwrQ/edit#gid=0">Donation Tracker Template</a>.</p>
<p>Make a copy of the template (<b>File > Make a copy...</b>).</p>
<p><img src="http://tracker.fwastats.com/tracker00.png" /></p>
<p>Edit the name for the document and click <b>OK</b>.</p>
<p><img src="http://tracker.fwastats.com/tracker01.png" /></p>
<p>Select Setup-tab and set the clan tag of your clan.</p>
<p><img src="http://tracker.fwastats.com/tracker02.png" /></p>
<p>Click <b>Tracker > Start</b> from the menu (works only in desktop version)</p>
<p><img src="http://tracker.fwastats.com/tracker03.png" /></p>
<p>Click <b>Continue</b></p>
<p><img src="http://tracker.fwastats.com/tracker04.png" /></p>
<p>Click <b>Advanced</b></p>
<p><img src="http://tracker.fwastats.com/tracker05.png" /></p>
<p>Click <b>Go to DonationTracker (unsafe)</b></p>
<p><img src="http://tracker.fwastats.com/tracker06.png" /></p>
<p>Type <b>Continue</b> and click <b>NEXT</b></p>
<p><img src="http://tracker.fwastats.com/tracker07.png" /></p>
<p>Click <b>ALLOW</b></p>
<p><img src="http://tracker.fwastats.com/tracker08.png" /></p>
<p>Tracking is now started.</p>
