<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.txt" >

  <variable name="logdir" value="${basedir}/logs" />

  <targets async="true">

    <target xsi:type="File" name="error"
        fileName="${logdir}/error.log"
        archiveFileName="${logdir}/archive/error.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7" />

    <target xsi:type="File" name="update"
            fileName="${logdir}/update.log"
            archiveFileName="${logdir}/archive/update.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24"/>

    <target xsi:type="File" name="info"
        fileName="${logdir}/info.log"
        archiveFileName="${logdir}/archive/info.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"/>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>

    <!--All errors, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="error" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="System.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="LWFStatsWeb.Controllers.UpdateController" minlevel="Trace" writeTo="update" final="true" />
    <logger name="LWFStatsWeb.Logic.ClanStatistics" minlevel="Trace" writeTo="update" final="true" />

    <logger name="*" minlevel="Trace" writeTo="info" />
    
  </rules>
  
</nlog>