<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="logs/stdout.log" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.WebTools.ApiEndpointDiscovery;Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44304" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44344/FWAStatsWeb/,ws://localhost:58514/FWAStatsWeb/" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\net7.0\Microsoft.WebTools.ApiEndpointDiscovery.dll;C:\Program Files\dotnet\SDK\9.0.301\DotnetTools\dotnet-watch\9.0.301-servicing.25269.4\tools\net9.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA+Mxy3v3Wp+Y5ipbQFDvj5h2HBKKPrS80r2s44si5iGu+tn2VXSCkUbEXtnAH+jc5cxxaMTeebx0dHX6zrVA1NcoPqtWeZoKv4YQ4TKoe8mKRp1SKdOZienQPcdqJ/8GSKIBgejZcWtMILZoPtxgPqxWSAYjYXU+EwIosTqvOyEkoEpw2ujgccmCtHrlRaHChjiiTAdhZKpH3iq/eAfD6eDf8Uwg+FAzXizdcCo1BKW51D+oAYF3zhpXGWLH91gdPoqBluc0cPFq8nec4bL07FV8OTuBR6dHnIubmcmNsMf9Bl4DHGMWu5wJfohJP9cqQQL4j1WJGB+6IZgYIEP2Z+QIDAQAB" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="e90cfb9b-fac7-4feb-a2f0-4004a53638d5" />
        <environmentVariable name="APIDISCOVERY_FILEPATH" value="C:\Users\petri\source\repos\FWAStatsWeb\src\FWAStatsWeb\obj\Debug\net8.0\ApiEndpoints.json" />
        <environmentVariable name="APIDISCOVERY_ProjectName" value="FWAStatsWeb" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>