<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="logs/stdout.log" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <!--
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\5.0.300\DotnetTools\dotnet-watch\5.0.300-servicing.21267.11\tools\net5.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll" />
        -->
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44330/FWAStatsWeb/,ws://localhost:61735/FWAStatsWeb/" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.402\DotnetTools\dotnet-watch\6.0.402-servicing.22476.48\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA55GEYxaLpWgoYxRVLHQtbDi3V1W8ySc6xfma1y/pdypDzM4K5yzkNZ2q8lpDqsPtLb79jCFGQiRAjk4VYGO60vXS0SL0FlvrXllR78WWu5kR4Ub2hs6oobbUgNWfxD2c53omd5VI0BmQ2G4awCq3yrTHtDNRfcmtDh9tWIVJSGX4DXQL8QBYCqHR3Hif0NJDbUK5dkeMTwu0Xn49JUGKLZwWPN71tHuH2K85YMxAl+RQrpjN9x+SFhPRUX9ld/+QaW3kLdo4aE7Z8pZKyxSNxxlHD75oI5V6/NPJ8uZe2MJ5KsgGQLna+7adphcLv+wiXPNoM6wWABTzLto/3mQlcQIDAQAB" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="ebf486bb-edf7-4a79-b947-b0528aafea05" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44304" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>