<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore xdt:Transform="SetAttributes" 
                stdoutLogEnabled="true" 
                stdoutLogFile="D:\home\LogFiles\stdout.log">
      <environmentVariables>
        <!-- Remove all development-specific environment variables -->
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <environmentVariable name="COMPLUS_ForceENC" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="APIDISCOVERY_FILEPATH" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <environmentVariable name="APIDISCOVERY_ProjectName" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
