<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile="logs/stdout.log" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44304" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44391/FWAStatsWeb/,ws://localhost:52172/FWAStatsWeb/" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\8.0.204\DotnetTools\dotnet-watch\8.0.204-servicing.24170.23\tools\net8.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvgbb4WKMA0iSGiwLNu+nB031yeqbh5dwdXifNlmsHrrmsmCjGwCajqbBAdgmrZqBECGZa5llNE03KWaFGjUQJeGTt1pdAMKS/eKv4xrMC3osaK32MQlxh9N3BlkAsQro4FMMNawJzuOfzyBmDf7rRHJ226mNkzy/+pMqSFFZePYrX5C6yDTEa4ZUn9yf03zOOOQAiKbb5zGsCanTl9KUD6BPze7/FvnhYeejk+E3hyK3FsKRvdw48HQZDmn9J+hA4tB9kuLFhEWfgWbRcnFeiNYUryYE73ZS6pD92BPjXE9vTcZ5sG0xIEpqz5/PgyRnvrTwqHg2wJHNUJF4BlJgCQIDAQAB" />
        <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="eb88483c-559d-4037-ac1f-a26b8741b025" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>