<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\home\LogFiles\nlog-internal.txt" >

  <variable name="logdir" value="D:\home\LogFiles" />

  <targets async="true">
    <!-- write logs to file -->
    <!--target xsi:type="File" name="allfile"
            fileName="${logdir}/web-all.log"
            archiveFileName="${logdir}/archive/web-all.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="1" /-->

    <target xsi:type="File" name="errorfile"
        fileName="${logdir}/web-error.log"
        archiveFileName="${logdir}/archive/web-error.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7" />

    <target xsi:type="File" name="updatefile"
            fileName="${logdir}/web-update.log"
            archiveFileName="${logdir}/archive/web-update.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="24"/>

    <target xsi:type="File" name="ownFile-web"
        fileName="${logdir}/web-own.log"
        archiveFileName="${logdir}/archive/web-own.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"/>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--logger name="*" minlevel="Trace" writeTo="allfile" /-->

    <!--All errors, including from Microsoft-->
    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="LWFStatsWeb.Controllers.UpdateController" minlevel="Trace" writeTo="updatefile" final="true" />
    <logger name="LWFStatsWeb.Logic.ClanStatistics" minlevel="Trace" writeTo="updatefile" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

</nlog>