
@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>

<div class="col-sm-6">
    <h3>Clans and members</h3>
    <p>Download Excel-worhsheet containing all FWA and FWAL clans with members.</p>
    <p><a class="btn btn-default" asp-area="" asp-controller="Download" asp-action="Clans">Download clan list &raquo;</a></p>
</div>

<div class="col-sm-6">
    <h3>Wars and war syncs</h3>
    <p>Download Excel-worhsheet containing all clan wars.</p>
    <p><a class="btn btn-default" asp-area="" asp-controller="Download" asp-action="Wars">Download war list &raquo;</a></p>
</div>