@{
    ViewBag.Title = "Graph";
    ViewBag.MetaRobots = "noindex, nofollow";
}

<h2>Graph</h2>

<div id="mynetwork"><p><span class="glyphicon glyphicon-hourglass"></span> Loading...</p></div>

@section scripts {

<environment names="Development">
    <script src="~/lib/vis/dist/vis.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"
            asp-fallback-src="~/lib/vis/dist/vis-network.min.js"
            asp-fallback-test="vis">
    </script>
</environment>

    <script type="text/javascript">

        $(function () {
            $.getJSON('@Url.Action("GetData", "Graphs")', function (input) {
                var nodes = new vis.DataSet(input.nodes);
                var edges = new vis.DataSet(input.edges);
                var container = document.getElementById('mynetwork');
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {
                    physics: {
                        forceAtlas2Based: {
                            gravitationalConstant: -26,
                            centralGravity: 0.005,
                            springLength: 230,
                            springConstant: 0.18
                        },
                        maxVelocity: 146,
                        solver: 'forceAtlas2Based',
                        timestep: 0.35,
                        stabilization: { iterations: 10 }
                    }
                };
                var network = new vis.Network(container, data, options);
            });
        });

    </script>

}