@{
    ViewData["Title"] = "Account Created";
}

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">@ViewData["Title"]</div>
        </div>
        <div class="panel-body">

            <p>
                Thank you for creating account. Confirmation email has been sent to your email address.
            </p>
            <p>
                You need to confirm your email address before you can login.
            </p>
            <p>
                Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a> after you have confirmed your email.
            </p>

        </div>
    </div>
</div>
